.company-list-table {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.company-list-table th {
  color: white; /* Set the text color for table header */
  text-align: left; /* Align text to the left */
}

.company-list-table td {
  color: black; /* Set the text color for table body */
}

.company-list-table button {
  margin-right: 12px; /* Adjust the margin as needed */
  background: none;
  border: none;
  cursor: pointer;
}

.company-list-table button svg {
  fill: white; /* Set the icon color */
  width: 25px; /* Set the icon width */
  height: 25px; /* Set the icon height */
}

.page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Add margin as needed */
}

.add-button {
  background: none;
  border: none;
  cursor: pointer;
}

.add-button svg {
  fill: white;
  width: 28px;
  height: 28px;
}

.company-list-container {
  background: white;
  padding: 25px; /* Add padding as needed */
  border-radius: 12px; /* Add border-radius for rounded corners */
  width: calc(100%-20px); /* Adjust the width to accommodate padding */
  box-sizing: border-box; /* Include padding in the width */
}
